RPC_URL=https://mainnet.infura.io/v3/YOUR_PROJECT_ID
SENDER_PRIVATE_KEY=ваш_приватний_ключ
RECEIVER_ADDRESS=адреса_одержувача
AMOUNT=0.01
TOKEN_ADDRESS=0xdAC17F958D2ee523a2206206994597C13D831ec7
TOKEN_DECIMALS=6